<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="app/assets/images/meusapo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{ siteName }}
  </a>
  <div>
    <a href="https://www.facebook.com/heirian">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-facebook fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://github.com/Heirian">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-github fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/bruno-te%C3%B3filo-domingos-silva-ab2271142/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-linkedin fa-stack-1x"></i>
      </span>
    </a>
    <a href="mailto:shinkcc@gmail.com">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-envelope fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <form class="form-inline btn-group">
      <a role='button' class="btn btn-outline-light" href="#/!">{{ homeTitle}}</button>
      <a role='button' class="btn btn-outline-light" href="#!skills">{{ skillsTitle }}</button>
      <a role='button' class="btn btn-outline-light" href="#!projects">{{ projectsTitle }}</button>
      <a role='button' class="btn btn-outline-light" href="#!contact">{{ contactTitle }}</button>
      <a role='button' class="btn btn-outline-light" href="/blog">{{ blogTitle }}</button>
  </form>
</nav>
