<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="app/assets/images/meusapo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{ siteName }}
  </a>
  <form class="form-inline btn-group">
      <a role='button' class="btn btn-outline-light" href="#/!">{{ homeTitle}}</button>
      <a role='button' class="btn btn-outline-light" href="#!skills">{{ skillsTitle }}</button>
      <a role='button' class="btn btn-outline-light" href="#!projects">{{ projectsTitle }}</button>
      <a role='button' class="btn btn-outline-light" href="#!contact">{{ contactTitle }}</button>
      <a role='button' class="btn btn-outline-light" href="/blog">{{ blogTitle }}</button>
  </form>
</nav>
