<div class="card ml-3" style="width: 18rem;">
  <img class="card-img-top" src="app/assets/images/profile-cover.jpg" alt="">
  <div class="card-body">
    <img class="profile-img rounded mx-auto d-block rounded-circle" src="app/assets/images/imagemperfil.jpg">
    <br>
    <p class="card-text hello text-center">HEY,</p>
    <p class="card-text myname text-center">MY NAME IS</p>
    <p class="card-text bruno text-center">BRUNO TEÓFILO</p>
    <p class="card-text softdeve text-center">I’M A WEB & SOFTWARE DEVELOPER</p>
  </div>
</div>
