<div class="row">
  <div class="col-xs-1 col-lg-1">
  </div>
  <img class="frog" src="app/assets/images/meusapo.png">
  <div class="col-xs-10 col-lg-6">
    <h2 class="fixfloater"><b>Building things<br>
      and develop lives.</b>
    </h2>
  </div>
</div>

  <div class="titlespace">
  </div>

<div class="row">
  <div class="col-xs-1 col-lg-1">
  </div>
  <div class="col-xs-10 col-lg-9">
    <p class="text-justify">
      I have studied and developed many skills around product development and engineering.
      I possess a tremendous affinity for building and improving things - always seeing technology as a stepping stone to a quality of life for humanity.
      I went through various areas of knowledge and programming, through front-end and later back-end, turning my generalized knowledge into a full-stak development.
      For me, knowledge is a greater tool, and also a weapon, to change the lives of each one of the people of our world.
    </p>
  </div>
</div>
