<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-3 col-sm-1 col-md-1 col-lg-2 col-xl-3">
    </div>
    <div class="col-5 col-sm-4 col-md-4 col-lg-2 col-xl-1">
      <img class="perfil"src="app/assets/images/imagemperfil.jpg">
    </div>
    <div class="col-12 col-sm-7 col-md-7 col-lg-6 col-xl-6">
      <p class="text-center hello">HEY,</p>
      <p class="text-center myname">MY NAME IS
      </p>
      <p class="text-center bruno">BRUNO TEÓFILO
      </p>
      <p class="text-center softdeve">I’M A WEB & SOFTWARE DEVELOPER
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-1 col-lg-3">
    </div>
    <img class="frog" src="app/assets/images/meusapo.png">
    <div class="col-xs-10 col-lg-6">
      <h2 class="fixfloater"><b>Building things<br>
        and develop lives.</b></h2>
    </div>
  </div>

  <div class="titlespace">
  </div>

  <div class="row">
    <div class="col-xs-1 col-lg-3">
    </div>
    <div class="col-xs-10 col-lg-6">
      <p class="text-justify">
        I have studied and developed many skills around product development and engineering.
        I possess a tremendous affinity for building and improving things - always seeing technology as a stepping stone to a quality of life for humanity.
        I went through various areas of knowledge and programming, through front-end and later back-end, turning my generalized knowledge into a full-stak development.
        For me, knowledge is a greater tool, and also a weapon, to change the lives of each one of the people of our world.
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-1 col-lg-3">
    </div>
    <img class="parrot" src="app/assets/images/fox.png">
    <div class="col-xs-10 col-lg-6">
      <h2 class="fixfloater"><b>Every builder <br>
        has his working tools.</b></h2>
    </div>
  </div>

  <div class="titlespace">
  </div>

  <div class="row">
    <div class="col-xs-1 col-lg-3">
    </div>
    <div class="col-xs-10 col-lg-6">
      <p class="text-justify">
        I’ve started playing code with simple tasks at freeCodeCamp.
        HTML and CSS raised me from below until JavaScript gives me wings.
        I keep working a lot at CodePen developing some code for FCC’s challenges.
        So Jquery and Bootstrap made me fly faster and i could see the Ruby’s army leading the way.
        I think that was a good start. Now i started work with some cool things. Of course, with best practices and code quality.
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-1 col-lg-3">
    </div>
    <img class="parrot" src="app/assets/images/parrot.png">
    <div class="col-xs-10 col-lg-6">
      <h2 class="fixfloater"><b>Do wanna know<br>
        a little more about me?</b></h2>
    </div>
  </div>

  <div class="titlespace">
  </div>

  <div class="row">
    <div class="col-xs-1 col-lg-3">
    </div>
    <div class="col-xs-10 col-lg-6">
      <p class="text-justify">
        I had an unique trajectory in my academic life and I went through several areas such as Physics, Social Sciences and Literature.
        I venture into the world of writing in my free time and it helps me a lot in my creative development.
        Science fiction and fantasy appeal to me for so many reasons. The main one, I think, has to do with an incessant need for discovery.
        This also answers another question about my relentless desire to travel and meet different people and places.
        If you understand mbti you know that I am ENTP, then a native builder.
      </p>
    </div>
  </div>
</div>
<br>
