<div class="row">
  <div class="col-xs-1 col-lg-1">
  </div>
  <img class="parrot" src="app/assets/images/fox.png">
  <div class="col-xs-10 col-lg-9">
    <h2 class="fixfloater"><b>Every builder <br>
      has his working tools.</b></h2>
  </div>
</div>

<div class="titlespace">
</div>

<div class="row">
  <div class="col-xs-1 col-lg-1">
  </div>
  <div class="col-xs-10 col-lg-9">
    <p class="text-justify">
      I’ve started playing code with simple tasks at freeCodeCamp.
      HTML and CSS raised me from below until JavaScript gives me wings.
      I keep working a lot at CodePen developing some code for FCC’s challenges.
      So Jquery and Bootstrap made me fly faster and i could see the Ruby’s army leading the way.
      I think that was a good start. Now i started work with some cool things. Of course, with best practices and code quality.
    </p>
  </div>
</div>
